body{
    font-family: "arial unicode ms", sans-serif;
    background: #cccccc;
}


.mainInner{
    margin: auto;
    padding: 0 20px;
}

.mainInner .icon img{
    width: 50px;    /*リサイズしたい*/
    border-radius: 20px;
    /*display: block;*/ 
}